@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  //   font-family: "Nunito", sans-serif;
}

a{
  text-decoration: none;
}

h1,
p {
  margin: 0;
}

.container {
  display: flex;
  flex: 1;
  height: 100vh;
}

.main-left {
  z-index: 10;
  width: 45%;
  background: #ffffff;
  box-shadow: 5px 0 50px -17px rgba(0, 0, 0, 0.5);
  padding: 30px 50px 80px 50px;
  display: flex;
  min-height: unset;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s all ease-in-out;

  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      height: 60px;
    }
  }

  &__text {
    margin-left: 20%;
    position: relative;
    opacity: 1;
    transition: 0.8s all ease-in-out;

    h1 {
      font-size: 100px;
      font-weight: 800;
      letter-spacing: 7.67px;

      span {
        font-family: "Nunito", sans-serif;
      }
    }

    p {
      font-size: 14px;
      color: #000000;
      letter-spacing: 0.2px;
      line-height: 25px;
      max-width: 50%;

      span {
        font-weight: 800;
      }
    }
  }

  &__text-alt {
    // display: none;
    visibility: hidden;
    opacity: 0;
    margin-left: 20%;
    transition: 1s all ease-in-out;
    position: absolute;

    h1 {
      font-size: 100px;
      font-weight: 800;
      letter-spacing: 7.67px;

      span {
        font-family: "Nunito", sans-serif;
      }
    }

    p {
      font-size: 50px;
      color: #000000;
      letter-spacing: 0.2px;
      margin-top: 40px;
      line-height: 25px;
      max-width: 100%;

      span {
        font-weight: 800;
      }
    }
  }

  &__contact {
    margin-left: 20%;

    p {
      font-size: 14px;
      color: #000000;
      letter-spacing: 0.2px;
      line-height: 25px;
      max-width: 60%;
      margin-bottom: 50px;

      span {
        font-weight: 800;
      }
    }
  }
}

.animate-launch {
  width: 100%;
}

.display-none {
  //   display: none !important;
  visibility: hidden !important;
  opacity: 0;
}

.display-block {
  //   display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  position: relative;
}

.position-absolute {
  position: absolute;
}

.width-none {
  width: 0;
  opacity: 0;
}

.launch-btn {
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  padding: 10px 20px;
  box-shadow: 6px 4px 20px -8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background: #ffde7f;
  font-size: 18px;
  color: #353535;
  font-weight: bold;
  letter-spacing: -0.19px;
  text-align: left;
  transition: 0.5s all;

  &:hover {
    background: #f9cc4b;
  }
}

.main-right {
  background-color: gray;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: unset;
  transition: 1s all ease-in-out;

  h2 {
    font-size: 50px;
    color: #000000;
    letter-spacing: 3.33px;
    text-align: left;
    max-width: 80%;
    line-height: 50px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  p {
    max-width: 70%;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.2px;
    line-height: 25px;
  }

  &__top {
    flex: 1;
    background: #ffcf47;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__mid {
    flex: 1;
    background: #e6e6e6;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__bottom {
    flex: 1;
    background: #ff9264;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.contact-btn {
  text-decoration: none;
  box-shadow: -1px 3px 20px 6px rgba(234, 234, 234, 0.5);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-size: 14px;
  margin-right: 25px;
  position: relative;
  margin-bottom 25px;

  
  span {
    background: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    margin-left: 50px;
    margin-right: -4px;
  }
  
  img{
    margin-left: 15px;
    margin-right: 15px;
  }

  &--telegram {
    background: #49a9e3;

   
  }

  &--github {
    background: #ffcf47;

   
  }

  &--onepager {
    background: #00c600;
  }

  &:hover {
    opacity: 0.75;
  }
}

.no-scroll {
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
  }

  .launch-btn {
    display: none;
  }

  .main-left {
    z-index: 10;
    width: 100vw;
    min-height: 900px;
    background: #ffffff;
    box-shadow: 5px 0 50px -17px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 30px 50px 80px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s all ease-in-out;

    &__topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__logo {
        height: 60px;
      }
    }

    &__text {
      margin-left: 0;
      margin-top: 150px;
      position: relative;
      opacity: 1;
      transition: 0.8s all ease-in-out;

      h1 {
        font-size: 70px;
        font-weight: 800;
        letter-spacing: 7.67px;

        span {
          font-family: "Nunito", sans-serif;
        }
      }

      p {
        font-size: 14px;
        color: #000000;
        letter-spacing: 0.2px;
        line-height: 25px;
        max-width: 90%;

        span {
          font-weight: 800;
        }
      }
    }

    &__text-alt {
      display: none;
      //   visibility: hidden;
      opacity: 0;
      margin-left: 0;
      transition: 1s all ease-in-out;
      position: absolute;

      h1 {
        font-size: 100px;
        font-weight: 800;
        letter-spacing: 7.67px;

        span {
          font-family: "Nunito", sans-serif;
        }
      }

      p {
        font-size: 50px;
        color: #000000;
        letter-spacing: 0.2px;
        margin-top: 40px;
        line-height: 25px;
        max-width: 100%;

        span {
          font-weight: 800;
        }
      }
    }

    &__contact {
      margin-left: 0;
      margin-top: 100px;
      display: flex;
      flex-direction: column;

      p {
        font-size: 14px;
        color: #000000;
        letter-spacing: 0.2px;
        line-height: 25px;
        max-width: 90%;
        margin-bottom: 50px;

        span {
          font-weight: 800;
        }
      }
    }
  }

  .main-right {
    background-color: gray;
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: 1s all ease-in-out;

    h2 {
      font-size: 40px;
      color: #000000;
      letter-spacing: 3.33px;
      text-align: left;
      max-width: 80%;
      line-height: 45px;
      margin-bottom: 20px;
      margin-top: 0;
    }

    p {
      max-width: 90%;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0.2px;
      line-height: 25px;
    }

    &__top {
      flex: 1;
      background: #ffcf47;
      padding-left: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px;
    }

    &__mid {
      flex: 1;
      background: #e6e6e6;
      padding-left: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px;
    }

    &__bottom {
      flex: 1;
      background: #ff9264;
      padding-left: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px;
    }
  }
}

.lang-picker {
  font-size: 12px;
  a {
    font-weight: bold;
    color: #000;
  }
}
