<!DOCTYPE html>
<html lang="cn">
<head>
  <title>StarCurve • 重新定义 DeFi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{ '/assets/images/curve.png' | relative_url }}"/>
  <link rel="stylesheet" href="{{ '/assets/css/uikit.min.css' | relative_url }}"/>
  <link rel="stylesheet" href="{{ '/assets/theme.css' | relative_url }}"/>
  <script src="{{ '/assets/js/uikit.min.js' | relative_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="{{ page.description }}"/>
  <meta name="theme-color" content="#5e70e4"/>
  <meta name="msapplication-TileColor" content="#5e70e4"/>

  <meta property="og:title" content="StarCurve • 重新定义 DeFi"/>
  <meta property="og:site_name" content="StarCurve"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{{ '/assets/images/curve.png' | relative_url }}"/>
  <meta property="og:description" content="{{ page.description }}"/>
</head>
<body>

<div class="uk-container">
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo uk-animation-slide-left" href="/">
        <img src="{{ '/assets/images/token_icon.png' | relative_url }}" alt="StarCurve logo"
             class="uk-hidden@s logo token">
        <img src="{{ '/assets/images/starcurve_text_logo.png' | relative_url }}" alt="StarCurve logo"
             class="uk-visible@s logo">
      </a>
    </div>
    <div class="uk-navbar-right uk-animation-slide-right">
      <ul class="uk-navbar-nav">
        <li>
          <a href="https://app.uniswap.org/#/swap?inputCurrency=ETH&outputCurrency={{ site.token_contract }}"
             class="uniswap">
            <img src="{{ '/assets/images/uniswap.png' | relative_url }}" alt="Uniswap icon" class="uniswap-header">
            购买 XSTAR
          </a>
        </li>
        <li>
          <a href="https://stake.starcurve.io" class="stake">XSTAR 宇宙</a>
        </li>
        <li class="launch-app">
          <a class="uk-button sc-button" href="https://trade.starcurve.io">
            Launch App <img src="{{ '/assets/images/emojis/rocket.png' | relative_url }}">
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="filter"
       class="uk-height-large uk-background-cover uk-light uk-flex uk-margin-bottom uk-animation-slide-top-small"
       uk-parallax="bgy: -200; sepia: 100;"
       style="background-image: url('{{ '/assets/images/starcurve_banner.png' | relative_url }}');">
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical"
         uk-parallax="target: #filter; blur: 0,10;">
      <h1>重新定义 DeFi</h1>
      <p>新一代 DEX 聚合器</p>
    </div>
  </div>

  <div class="uk-grid-match uk-margin-medium-top uk-animation-slide-bottom" uk-grid>
    <div class="uk-width-2-3@m">
      <h2 class="uk-heading-bullet"> 为所有人提供 DeFi </h2>
      <p class="uk-margin-small">
        我们的目标是为去中心化交易创建一个对用户使用感友好且拥有现代化UI的DEX聚合器。 随着DeFi和多个类似Uniswap这类型的去中心化交易所的扩散和普及，
        创始团队总结道 当前大部分的去中心化交易所的状态及其程序太过于复杂且对新手用户不够友善。
      </p>
      <p class="uk-margin-small">
        我们将发布更加简介且容易使用的用户界面，以将DeFi推向主流。 在StarCurve上进行交易给用户的感觉将会像在使用集中式交易所的UI，但实际交易却是完全去中心化的。
      </p>
    </div>
    <div class="uk-width-1-3@m">
      <img src="{{ '/assets/images/fp_share.png' | relative_url }}" class="fp_graph fp_contain">
    </div>
  </div>

  <div class="uk-divider-icon uk-padding-small uk-animation-slide-bottom"></div>

  <div class="uk-grid-match uk-animation-slide-bottom" uk-grid>
    <div class="uk-width-1-3@m uk-visible@m">
      <img src="{{ '/assets/images/fp_graph.png' | relative_url }}" class="fp_graph fp_contain">
    </div>
    <div class="uk-width-2-3@m">
      <h2 class="uk-heading-bullet">交易性挖矿</h2>
      <p class="uk-margin-small">
        我们平台上的交易者将获得XSTAR代币作为奖励。 交易者每笔交易将获得一些XSTAR代币，这有助于
        作为吸引更多用户和交易者使用我们平台的激励。
      </p>
      <p class="uk-margin-small">
        StarCurve 是个 DEX 聚合器. 我们的引擎将索会在自多个DEX的流动性中寻找并匹配与用户最佳交易配对。
      </p>
      <p class="uk-margin-small">
        我们的时间线中包括了在引擎中实现高级定单类型，例如限价定单。 后期更加会引进更多高级订单类型例如DeFi交易的第2层解决方案。
      </p>
    </div>
    <div class="uk-width-1-3@m uk-hidden@m">
      <img src="{{ '/assets/images/fp_graph.png' | relative_url }}" class="fp_graph fp_contain">
    </div>
  </div>

  <div class="uk-divider-icon uk-padding-small uk-animation-slide-bottom"></div>

  <div class="uk-grid-match uk-animation-slide-bottom" uk-grid>
    <div class="uk-width-2-3@m">
      <h2 class="uk-heading-bullet">Staking 2.0</h2>
      <p class="uk-margin-small">
        XSTAR代币持有者可以在我们的<a href="https://stake.starcurve.io">质押网页</a>中质押 XSTAR UNI-V2 LP 代币。
      </p>
      <p class="uk-margin-small">
        奖励是从我们的流动资金池中支付的，而不是重新铸造的。 这意味着XSTAR的总供应量将不会增加。
      </p>
      <p class="uk-margin-small">
        除了从我们的流动资金池中获得的奖励外，通过我们的交易平台收取的费用的90％将也会分发给
        代币持有者。 这将作为流动资金池奖励之外的额外奖金。
      </p>
    </div>
    <div class="uk-width-1-3@m">
      <img src="{{ '/assets/images/fp_stake.png' | relative_url }}" class="fp_graph fp_contain">
      <!--      <a class="uk-button sc-button" href="https://stake.starcurve.io">-->
      <!--         XSTAR 宇宙-->
      <!--      </a>-->
    </div>
  </div>

  <!--  <div class="uk-divider-icon uk-padding-small uk-animation-slide-bottom"></div>-->
</div>

<div class="uk-container uk-margin-large-top uk-padding uk-padding-remove-bottom uk-animation-fade">
  <div class="uk-grid">
    <div class="uk-width-1-3">
      <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">Telegram</li>
        <li><a href="{{ site.links.telegram }}">Announcement Channel</a></li>
        <li><a href="{{ site.links.telegram_en }}">English Community</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="{{ site.links.telegram_jp }}">Japanese Community</a></li>
        <li><a href="{{ site.links.telegram_vn }}">Vietnamese Community</a></li>
        <li><a href="{{ site.links.telegram_id }}">Indonesian Community</a></li>
      </ul>
    </div>
    <div class="uk-width-1-3">
      <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">Links</li>
        <li><a href="{{ site.links.twitter }}">Twitter</a></li>
        <li><a href="{{ site.links.github }}">GitHub</a></li>
        <li><a href="{{ site.links.medium }}">Medium</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="https://etherscan.io/token/{{ site.token_contract }}">Token Contract</a></li>
        <li><a href="https://sale.starcurve.io">Sale Portal</a></li>
      </ul>
    </div>
    <div class="uk-width-1-3">
      <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">联系我们</li>
        如果有任何疑问请在电报上联系我们的管理员,或者联系 team [at] starcurve.io.
        <li class="uk-nav-header">受 Continue 支持</li>
        <a href="https://medium.com/@ContinueCapital/continue-capital-invested-in-the-dex-aggregator-starcurve-a5a6497442d1"
           target="_blank">
          <img src="{{ '/assets/images/continue.png' | relative_url }}"
               alt="Continue Capital logo" class="vc-logo">
        </a>
      </ul>
    </div>
  </div>
</div>

<small class="uk-padding uk-padding-remove-bottom uk-margin-small-bottom rev">
  <a href="/">English</a> • Chinese
  | Rev.
  <a href="https://github.com/StarCurve/website/commit/{{ site.github.build_revision }}">
    {{ site.github.build_revision | slice: 0, 7 }}
  </a>
</small>

<script>
    localStorage.setItem('redirected', '1')
</script>

</body>
</html>
